POSTGRES_HOST=postgres
POSTGRES_PORT=5436
POSTGRES_DB=questionnaire
POSTGRES_USER=questions_ps
POSTGRES_PASSWORD=questions_ps_password
ECHO=True

DOCS_USERNAME=admin
DOCS_PASSWORD=admin


FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
FASTAPI_WORKERS=4
